# Multiple Linear Regression

<img src='q.png' />


<img src='w.png' />



<img src='e.png' />

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

C:\Users\himan\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('IPL IMB381IPL2013.csv')

df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [4]:
xfeatures = df.columns

xfeatures

Index(['Sl.NO.', 'PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE',
       'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE',
       'SOLD PRICE'],
      dtype='object')

In [5]:
xfeatures = ['AGE', 'COUNTRY', 'PLAYING ROLE',
       'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C',
       'WKTS', 'AVE-BL', 'ECON', 'SR-BL']

## Feature encoding on categorical features

In [6]:
df['PLAYING ROLE'].unique()

array(['Allrounder', 'Bowler', 'Batsman', 'W. Keeper'], dtype=object)

In [7]:
pd.get_dummies(df['PLAYING ROLE'])[:5]

   Allrounder  Batsman  Bowler  W. Keeper
0           1        0       0          0
1           0        0       1          0
2           0        0       1          0
3           0        0       1          0
4           0        1       0          0

In [8]:
categorical_features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']

encoded_df = pd.get_dummies(df[xfeatures],
                           columns=categorical_features,
                           drop_first=True)

encoded_df.columns

Index(['T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL',
       'ECON', 'SR-BL', 'AGE_2', 'AGE_3', 'COUNTRY_BAN', 'COUNTRY_ENG',
       'COUNTRY_IND', 'COUNTRY_NZ', 'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL',
       'COUNTRY_WI', 'COUNTRY_ZIM', 'PLAYING ROLE_Batsman',
       'PLAYING ROLE_Bowler', 'PLAYING ROLE_W. Keeper', 'CAPTAINCY EXP_1'],
      dtype='object')

In [9]:
xfeatures = encoded_df.columns

encoded_df.head()

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
0,0,0,0,0.00,0,0.0,0,0,0.00,0.00,...,0,0,1,0,0,0,0,0,0,0
1,214,18,657,71.41,185,37.6,0,0,0.00,0.00,...,0,0,0,0,0,0,0,1,0,0
2,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,...,0,0,0,0,0,0,0,1,0,0
3,284,31,241,84.56,51,36.8,58,11,5.80,76.32,...,0,0,0,0,0,0,0,1,0,0
4,63,0,79,45.93,0,0.0,1317,71,32.93,120.71,...,0,0,0,0,0,0,1,0,0,0

In [10]:
from sklearn.model_selection import train_test_split

x = sm.add_constant(encoded_df)
y = df['SOLD PRICE']

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, 
                                                random_state=100)

In [11]:
model1 = sm.OLS(ytrain, xtrain).fit()

model1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                             Results: Ordinary least squares
=========================================================================================
Model:                      OLS                     Adj. R-squared:            0.366
Dependent Variable:         SOLD PRICE              AIC:                       2963.5554
Date:                       2024-03-13 22:24        BIC:                       3048.1760
No. Observations:           104                     Log-Likelihood:            -1449.8
Df Model:                   31                      F-statistic:               2.921
Df Residuals:               72                      Prob (F-statistic):        9.52e-05
R-squared:                  0.557                   Scale:                     1.0852e+11
-----------------------------------------------------------------------------------------
                          Coef.       Std.Err.     t    P>|t|      [0.025       0.975]
-----------------------------------------------------------------------------------------
const                   379305.9641 227526.1170  1.6671 0.0998   -74259.0605  832870.9888
T-RUNS                     -36.5141     32.1190 -1.1368 0.2594     -100.5422      27.5139
T-WKTS                    -461.0001    607.6529 -0.7587 0.4505    -1672.3340     750.3339
ODI-RUNS-S                  31.6404     36.2714  0.8723 0.3859      -40.6653     103.9460
ODI-SR-B                   432.0709   1676.0907  0.2578 0.7973    -2909.1549    3773.2967
ODI-WKTS                  1429.4361    822.9541  1.7370 0.0867     -211.0928    3069.9651
ODI-SR-BL                 -918.2433   1542.6974 -0.5952 0.5536    -3993.5544    2157.0678
RUNS-S                     112.0031    163.7830  0.6839 0.4963     -214.4923     438.4985
HS                       -4358.4779   2725.4224 -1.5992 0.1142    -9791.5082    1074.5524
AVE                      10503.0460   7934.8283  1.3237 0.1898    -5314.7452   26320.8372
SR-B                      -940.2624   1351.5040 -0.6957 0.4888    -3634.4363    1753.9115
SIXERS                    5721.0956   3401.7834  1.6818 0.0969    -1060.2356   12502.4269
RUNS-C                      75.4750    343.0889  0.2200 0.8265     -608.4602     759.4103
WKTS                      2473.3852   8545.3019  0.2894 0.7731   -14561.3628   19508.1331
AVE-BL                   11303.6479  10009.4045  1.1293 0.2625    -8649.7353   31257.0311
ECON                     -7058.9195  12535.5812 -0.5631 0.5751   -32048.1439   17930.3049
SR-BL                   -13960.7590  13697.5259 -1.0192 0.3115   -41266.2779   13344.7599
AGE_2                  -161939.8645 116415.3395 -1.3911 0.1685  -394009.6024   70129.8734
AGE_3                  -236847.4939 162592.4540 -1.4567 0.1495  -560969.6270   87274.6393
COUNTRY_BAN            -371957.3826 441011.9187 -0.8434 0.4018 -1251098.5747  507183.8096
COUNTRY_ENG             557381.4990 239916.6953  2.3232 0.0230    79116.3080 1035646.6900
COUNTRY_IND              18606.9052 127075.2150  0.1464 0.8840  -234712.9061  271926.7164
COUNTRY_NZ               58916.6513 175281.3894  0.3361 0.7378  -290500.4123  408333.7150
COUNTRY_PAK            -103292.3294 194949.9418 -0.5298 0.5979  -491917.9357  285333.2769
COUNTRY_SA             -138449.0740 135810.2910 -1.0194 0.3114  -409181.9409  132283.7929
COUNTRY_SL              -98603.0089 161123.0811 -0.6120 0.5425  -419796.0006  222589.9829
COUNTRY_WI             -347891.6839 213858.6160 -1.6267 0.1082  -774211.0433   78427.6755
COUNTRY_ZIM            -379870.1688 402326.7449 -0.9442 0.3482 -1181893.8765  422153.5389
PLAYING ROLE_Batsman    176751.1834 134779.1192  1.3114 0.1939   -91926.0801  445428.4470
PLAYING ROLE_Bowler      39307.2285 120109.8645  0.3273 0.7444  -200127.4105  278741.8674
PLAYING ROLE_W. Keeper   57471.1051 191731.9099  0.2997 0.7652  -324739.4718  439681.6820
CAPTAINCY EXP_1         251613.1550 132342.6280  1.9012 0.0613   -12207.0522  515433.3621
-----------------------------------------------------------------------------------------
Omnibus:                      5.237                Durbin-Watson:                   1.792
Prob(Omnibus):                0.073                Jarque-Bera (JB):                4.625
Skew:                         0.487                Prob(JB):                        0.099
Kurtosis:                     3.344                Condition No.:                   76726
=========================================================================================
* The condition number is large (8e+04). This might indicate             strong
multicollinearity or other numerical problems.
"""

# multicollinearity

<img src='ee.png' />


# VIF (Variance Inflation Factor)

<img src='rr.png' />